<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="image-card">
  <template>
    <style>
    :host {
      display: block;
      position: relative;
      background-color: white;
      width: 420px;
      font-size: 1.2rem;
      font-weight: 300;
      padding: 10px;
    }
    /*.card-header {
      margin-bottom: 10px;
    }*/
    polyfill-next-selector { content: '.card-header h2'; }
    .card-header ::content h2 {
      margin: 0;
      font-size: 1.8rem;
      font-weight: lighter;
      background-color: #333333;
      color: white;
      padding: 5px;
      font-size: large;
    }
    polyfill-next-selector { content: '.card-header img'; }
    .card-header ::content core-image {
      width: 400px;
      height: 300px;
      /*border-radius: 50%;*/
      background: white;
    }

    </style>

    <div class="card-header" layout vertical>
      <content select="core-image"></content>
      <content select="h2"></content>
    </div>
    <content></content>
  </template>
  <script>
    Polymer({is: "image-card"});
  </script>
</dom-module>
