<!doctype html>
<html>

<head>

  <title>ImageMatcher</title>

     <style>
       html, body {
         display: block;
         height: 100%;
         font-family: 'RobotoDraft', sans-serif;
       }
     </style>

  <meta name="viewport"
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <script src="{{url_for('static', filename='bower_components/webcomponentsjs/webcomponents.js')}}"></script>

  <link rel="import" href="{{url_for('static', filename='bower_components/font-roboto/roboto.html')}}">

  <link rel="import" href="{{url_for('static', filename='bower_components/core-toolbar/core-toolbar.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/core-menu/core-menu.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/core-item/core-item.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/core-header-panel/core-header-panel.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/core-drawer-panel/core-drawer-panel.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/core-scaffold/core-scaffold.html')}}">

  <link rel="import" href="{{url_for('static', filename='bower_components/core-list/core-list.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/core-ajax/core-ajax.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/core-image/core-image.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/core-scroll-header-panel/core-scroll-header-panel.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/core-ajax/core-xhr.html')}}">

  <link rel="import" href="{{url_for('static', filename='bower_components/core-scroll-header-panel/core-scroll-header-panel.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/core-icons/core-icons.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/paper-fab/paper-fab.html')}}">

  <link rel="import" href="{{url_for('static', filename='bower_components/paper-dialog/paper-action-dialog.html')}}">
  <link rel="import" href="{{url_for('static', filename='bower_components/paper-button/paper-button.html')}}">

  <link rel="import" href="{{url_for('static', filename='components/image-card.html')}}">

  <link rel="import" href="{{url_for('static', filename='bower_components/jsonymer/jsonymer-editor.html')}}">
</head>
{% raw %}
<body unresolved fullbleed vertical layout>
  <core-ajax
      auto
      url='api/1.0/references/'
      handleAs="json"
      on-core-response="{{handleResponse}}"></core-ajax>
  <core-xhr id="xhr"></core-xhr>

  <core-header-panel id="hPanel" flex>
    <core-toolbar >
      <template id="toolbar-template" is="auto-binding">
        <div flex></div>
        <core-icon-button icon="search" on-tap="{{tapSearchHandler}}"></core-icon-button>
        <core-icon-button icon="add" on-tap="{{tapAddHandler}}"></core-icon-button>
        <div class="bottom indent title">ImageMatcher</div>
      </template>
    </core-toolbar>
      <core-list id="images-list" flex height="30" width="420" grid>
        <template>
          <image-card>
            <core-image sizing="cover" src="{{model.thumbnail_url}}" preload></core-image>
            <h2>{{model.metadata.name}}</h2>
          </image-card>
        </template>
      </core-list>
  </core-header-panel>

  <paper-action-dialog id="details-dialog" transition="core-transition-left">
    <template is="auto-binding" id="details-template">
      <h2>{{data.metadata.name}}</h2>
      <div horizontal layout>
        <div vertical layout>
          <core-image sizing="contain" width="300" height="225" src="{{data.thumbnail_url}}" style="background:white" preload></core-image>
          <label for="imageFile">Associate a music</label><br />
          <form id="details-import-music-form">
            <input type="file" id="musicFile" name="musicFile">
          </form>

          <template if="{{data.music_url}}">
            <audio controls="controls" preload="none">
              Your browser does not support the <code>audio</code> element.
              <source src="{{data.music_url}}">
            </audio>
          </template>
        </div>
        <jsonymer-editor id="meta-json-editor"></jsonymer-editor>
      </div>

      <paper-button dismissive autofocus>Close</paper-button>
      <paper-button affirmative on-tap="{{handleDelete}}">Delete</paper-button>
      <paper-button affirmative on-tap="{{handleSave}}">Save</paper-button>
    </template>

  </paper-action-dialog>

  <paper-action-dialog id="import-dialog" transition="core-transition-left">
    <template is="auto-binding" id="import-template">
      <h2>Import new image</h2>
      <form action="" method=post enctype="multipart/form-data">
        <p>
          <label for="imageFile">Select an image</label><br />
          <input type="file" id="imageFile" name="image"><br/>
          <label for="imageFile">Select a music (optional)</label><br />
          <input type="file" id="musicFile" name="musicFile"><br/>
          <paper-button on-tap="{{handleUploadImage}}">Save</paper-button>
        </p>
      </form>
    </template>
  </paper-action-dialog>

  <paper-action-dialog id="search-dialog" transition="core-transition-left">
    <template is="auto-binding" id="search-template">
      <h2>Search image</h2>
      <form action="" method=post enctype="multipart/form-data">
        <p>
          <label for="imageFile">Select an image</label><br />
          <input type="file" id="imageFile" name="image"><br/>
          <paper-button on-tap="{{handleSearchImage}}">Search</paper-button>
        </p>
      </form>
      <p>{{jsonResponse}}</p>
    </template>
  </paper-action-dialog>


  <script>
    document.addEventListener('polymer-ready', function() {
      var xhr = document.querySelector("#xhr");

      var ajax = document.querySelector("core-ajax");
      ajax.addEventListener("core-response", 
        function(e) {
          document.querySelector('#images-list').data = e.detail.response.images;
        }
      );

      var listScope = document.querySelector('#images-list');
      listScope.scrollTarget = document.querySelector('#hPanel').scroller;
      listScope.addEventListener("core-activate", function(e) {
        var refImage = e.detail.data;
        showDetails(refImage);
      });

      var detailsScope = document.querySelector('#details-template');
      detailsScope.handleDelete = function(e) {
        var refImage = this.data;
        xhr.request({url: "api/1.0/references/" + refImage.id, method: "DELETE",
                    callback: function(d) {
                      console.log("Deleted: " + d);
                      ajax.go();
                    }});
      };

      detailsScope.handleSave = function(e) {
        var refImage = this.data;

        // Upload music if provided
        if (this.$.musicFile.files.length > 0) {
          var formData = new FormData();
          formData.append("music", this.$.musicFile.files[0]);

          xhr.request({url: "api/1.0/references/" + refImage.id + "/music", method: "POST", body: formData,
                      callback: function(d) {
                        console.log("Uploaded music: " + d);
                      }});
        }

        var newMeta = detailsScope.$['meta-json-editor'].toJSON(true, true);
        xhr.request({url: "api/1.0/references/" + refImage.id + "/metadata",
                    method: "PUT",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(newMeta),
                    callback: function(d) {
                      console.log("Saved: " + d);
                      var newImage = JSON.parse(d);
                      if (newImage != undefined) {
                        refImage.metadata = newImage['metadata'];
                        refImage.music_url = newImage['music_url'];
                      }
                    }
                  });
      };

      var showDetails = function(refImage) {
        detailsScope.data = refImage;
        detailsScope.$['meta-json-editor'].obj = refImage.metadata;
        detailsScope.$['details-import-music-form'].reset();
        document.querySelector('#details-dialog').open();
      };

      var toolbarScope = document.getElementById('toolbar-template');
      var importDialog = document.querySelector('#import-dialog');
      toolbarScope.tapAddHandler = function(e) {
        importDialog.open();
      };

      toolbarScope.tapSearchHandler = function(e) {
        document.querySelector('#search-dialog').open();
      };

      var importScope = document.querySelector('#import-template');
      importScope.handleUploadImage = function(e) {
        if (this.$.imageFile.files.length > 0) {
          var formData = new FormData();
          formData.append("image", this.$.imageFile.files[0]);
          if (this.$.musicFile.files.length > 0)
            formData.append("music", this.$.musicFile.files[0]);

          xhr.request({url: "api/1.0/references/", method: "POST", body: formData,
                      callback: function(d) {
                        console.log("Uploaded: " + d);
                        ajax.go();
                        importDialog.close();          
                      }});
        }
      };

      var searchScope = document.querySelector('#search-template');
      searchScope.handleSearchImage = function(e) {
        if (this.$.imageFile.files.length > 0) {
          var formData = new FormData();
          formData.append("image", this.$.imageFile.files[0]);
          formData.append("min_score", 0.5);

          xhr.request({url: "api/1.0/search", method: "POST", body: formData,
                      callback: function(d) {
                        console.log("Searched: " + d);
                        searchScope.jsonResponse = d;
                      }});
        }
      };

    });
  </script>

</body>
{% endraw %}
</html>